@font-face {
  font-family: "OpenSans-Bold";  
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
  url ("../fonts/OpenSans-Bold.woff") format("woff"),
  url ("../fonts/OpenSans-Bolt.woff2") format("woff2");
  font-style: normal; 
  font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Regular";  
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url ("../fonts/OpenSans-Regular.woff") format("woff"),
    url ("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-style: normal; 
    font-weight: normal;
  }

body {
  margin: 0;
  font-family: OpenSans-Bold, sans-serif;
  text-align: center;
}

.header {
  min-height: 480px;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-color: #666666;
  color: #ffffff;
  position: relative;
  width: 100%;
  margin-bottom: 63px;
  padding-top: 25px;
}

.container_header {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  height: 275px;
  width: 70%;
  padding-left: 15px;
  padding-right: 15px;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.logo_menu {
  height: 40px;
  margin-top: 28px;
  display: flex;
  width: 100%;
  margin-bottom: 120px;
}

.menu_header {
  margin-top: 17px;
  margin-bottom: 14;
  margin-left: auto;
}

.menu_header_flex {
  display: flex;
  font-family: OpenSans-Regular, sans-serif;
}

.logo_noemi {
  display: block;
  width: 180px;
}

.logo_noemi_mobile {
  display: none;
}

.menu_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.menu_header_items:nth-child(n+2) {
  margin-left: 35px;
}

.h1 {
  display: inline-block;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  max-width: 740px;
}

.h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}


.title_trend::after {
  content: "";
  margin-top: 8px;
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.trends {
  display: flex;
  margin-top: 27px;
  color: #ffffff;
  text-transform: uppercase;
}

.trend1, .trend2, .trend3, .trend4 {
  display: flex;
  min-height: 320px;
  width: 25%;
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eff6f1;
  background-size: cover;
  position: relative;
  align-items: flex-end;
}

.trend2, .trend3, .trend4 {
  margin-left: 4px;
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}


.trend1::after, .trend2::after, .trend3::after, .trend4::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.trend_container{
  z-index: 1;
  border: 3px solid #b59f5b;
  margin-left: 4.4%;
  margin-right: 4.4%;
  padding-left: 33px;
  padding-bottom: 37px;
  padding-top: 39px;
  padding-right: 50px;
  text-align: start;
  margin-bottom: 16px;
  margin-top: 16px;
}

.trend_link {
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
}

.li_link {
  margin-right: 18px;
}

.trend_link_no_decoration {
  text-decoration: none;
  text-transform: uppercase;
}

.h2_trend{
  color: #ffffff;
}

.main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-top: 64px;
}

.main_flex {
  display: flex;
  margin-bottom: 64px;
  justify-content: space-between;
}

.articles {
  /* width: 70%; */
  /* width: 809px; */
  left: 0;
}

.article {
  display: flex;
  min-height: 290px;
}

.article:nth-child(n+2) {
  margin-top: 50px;
}

.article_img, .post_img {
  overflow: hidden;
  object-fit: cover;
  /* width: 40%; */
  background-color: #eff6f1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.post_img {
  width: 70px;
}

.article_info {
  margin-left: 30px;
  text-align: left;
  width: 400px;
}

.article_link {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.article_link:nth-child(n+2) {
  margin-left: 18px;
}

.article_data, .article_autor {
  font-size: 12px;
  line-height: 40px;
  display: inline;
}

.article_data, .article_autor, .article_text {
  font-family: OpenSans-Regular;
}

.article_autor {
  margin-left: 10px;
}

.article_data {
  color: #888888;
}

.article_text {
  font-size: 15px;
  line-height: 22px;
}

.aside {
  /* margin-left: 90px; */
  width: 270px;
}

.h3 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 10px;
}

.new_posts {
  margin-top: 27px;
}

.post {
  display: flex;
  height: 70px;
}

.post:nth-child(n+2) {
  margin-top: 18px;
}

.post_info {
  margin-left: 18px;
  text-align: left;
  width: 200px;
}

.post_data {
  color: #888888;
  font-size: 12px;
  font-family: OpenSans-Regular;
  height: 20px;
  vertical-align: top;
}

.h4 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

.post_title {
  text-decoration: none;
  color: #000000;
}

.search {
  margin-top: 60px;
  display: flex;
  margin-bottom: 60px;
}

.search_input {
  box-sizing: border-box;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  height: 48px;
  width: 100%;
  background-color: #f4f7f6;
  padding-left: 9px;
  border: none;
}

.button_seatch {
  box-sizing: border-box;
  padding: 0 0 0 0;
  height: 48px;
  width: 25%;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;
}

.email {
  margin-top: 23px;
}

.button_email {
  height: 48px;
  width: 100%;
  margin-top: 17px;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
  margin-bottom: 60px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 23px;
}

.tag {
  display: flex;
  box-sizing: border-box;
  border: solid #f4f3f1 3px;
  height: 30px;
  font-family: inherit;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-right: 13px;
  padding-left: 13px;
  color: #0f0d0e;
}

.subjs {
  list-style-type: none;
  text-align: start;
  padding-left: 0;
}

.subj_li {
  border-bottom: solid #eeecec 1px;
}

.subj {
  font-size: 14px;
  line-height: 47px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  width: 100%;
  position: relative;
  vertical-align: bottom;
}

.num {
  color: #b59f5b;
  font-size: 12px;
  position: absolute;
  margin-left: 5px;
  bottom: 2px;
  line-height: 25px;
}

.prods_section{
  margin-top: 63px;
  margin-bottom: 65px;
  /* display: flex; */
  height: 100%;
}

.prods{
  width: 33%;
}

.container_photo {
  padding-left: 20px;
  padding-right: 20px;
}

.prod_photo {
  width: 100%;
  height: auto;
}

.prods_info {
  display: flex;
  align-items: flex-end;
  margin-top: 28px;
}

.prod {
  position: relative;
  box-sizing: border-box;
  border: solid #b59f5b 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  text-align: start;
  z-index: 2;
  min-height: 265px;
  margin-top: -30px;
}

.prods:nth-child(n+2) {
  margin-left: 5%;
}

.prod_text {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 22px;
}

.prod_link {
  text-decoration: none;
  color: #b59f5b;
}

.prod_order {
  height: 50px;
  display: flex;
  margin-bottom: 5%;
}

.prod_price {
  padding-top: 20px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.prod_price::after {
  content: ' \20BD';
}

.prod_price_sale {
  font-size: 14px;
  line-height: 24px;
  position: absolute;
}

.prod_price_sale::after {
  content: ' \20BD';
}

.prod_button {
  height: 100%;
  width: 45%;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.labels {
  height: 80px;
  width: 100%;
  background-color: #f4f7f6;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.label {
  width: 1.5em;
  height: auto;
  margin-right: 30px;
}

.label:nth-child(n+2) {
  margin-left: 25px;
}

.copy {
  margin-bottom: 45px;
}

.copy_link {
  text-decoration: none;
  font-size: 12px;
  color: #999999;
}

@media (min-width: 1201px) {
  .menu_header_tablet_link {
    display: none;
  }
}


@media (min-width: 641px) and (max-width: 1200px) {

  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .container_header {
    width: 90%;
  }

  .menu_header {
    display: none;
  }
  .menu_header_tablet {
    width: 100%;
    text-align: right;
  }

  .menu_header_tablet_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: -3px;
    margin-right: 0;
  }

  .h1 {
    font-size: 40px;
    line-height: 55px;
    max-width: 640px;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trend1, .trend2, .trend3, .trend4 {
    width: calc(50% - 2px);
    margin: 0;
  }

  .trend2, .trend4 {
    margin-left: 4px;
  }

  .trend1, .trend2 {
    margin-bottom: 3px;
  }

  .main {
    width: 100%;
    padding-left: 0px;
    padding-right: 0cap; 
  }

  .main_flex {
    padding-left: 35px;
    padding-right: 35px;
  }

  .article {
    width: 100%;
    display: inline-block;
  }

  .article_data, .article_autor {
    line-height: 65px;
  }

  .article:nth-child(n+2) {
    margin-top: 0px;
    border-top: solid 3px #eeeeee;
    padding-top: 40px;
  }

  .article_img {
    width: 100%;
    min-height: 300px;
  }

  .article_info {
    margin-left: 0;
    width: 100%;
  }

  .article_text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .aside {
    margin-left: 34px;
    width: 270px;
  }

  .prods_info {
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
  }

  .prods {
    /* flex-wrap: wrap; */
    width: calc(50% - 11px);
    box-sizing: border-box;
    margin-bottom: 27px;
  }

  .prods:nth-child(n+2) {
    margin-left: 0;
  }

  .prods:nth-child(2) {
    margin-left: 22px;
  }

  .prod {
    margin-top: -50px;
  }
  .prods_section {
    margin-bottom: 20px;
  }
}


@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
    min-height: 630px;
    margin-bottom: 44px;
  }

  .container_header {
    width: 95%;
  }

  .menu_header {
    display: none;
  }

  .menu_header_tablet {
    width: 100%;
    text-align: right;
  }

  .menu_header_tablet_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: -3px;
    margin-right: 0;
  }

  .logo_noemi {
    display: none;
  }

  .logo_noemi_mobile {
    display: inline-block;
    width: 270px;
  }

  .h1 {
    font-size: 26px;
    line-height: 36px;
    max-width: 380px;
}

  .trends {
    flex-wrap: wrap;
  }

  .trend_container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .trend1, .trend2, .trend3, .trend4 {
    width: 100%;
    margin: 0;
    margin-top: 3px;
  }

  .main_flex {
    display: block;
  }

  .main {
    width: 100%;
  }

  .article {
    display: block;
  }

  .article_img {
    width: 100%;
  }

  .article_info {
    margin-left: 0;
    width: 100%;
  }

  .aside {
    width: 100%;
    margin-top: 44px;
  }

  .post_img {
    width: 70px;
  }

  .post_info {
    width: 100%;
  }

  .prods_info {
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
  }

  .prods {
    width: 100%;
    margin-top: 25px;
  }

  .prods_info {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}


/*-----------ВСПЛЫВАЮЩЕЕ ОКНО-----------*/
._hidden {
  display: none;
}

#popub1 {
  display: none;
}

.popub {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
  display: flex;
}

.popub_content {
  background-color: #ffffff;
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  position: relative;
  padding: 40px 30px 30px 30px;
}

.popub_close {
  position: absolute;
  color: #ffffff;
  font-size: 50px;
  right: -5px;
  top: -55px;
  font-family: "OpenSans-Regular";
  cursor: pointer;
}

.popub_close:hover {
  color: #666666;
}

.popub_toggle:checked + .popub {
  display: none;
}

.label_popub {
  text-align: left;
  display: block;
  margin-top: 20px;
}

.select_popub {
  margin-top: -20px;
  width: 100%;
  height: 50px;
  color: #666666;
  appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 12px 20px;
}

.radio_popubs {
  text-align: left;
  display: block;
  margin-top: 20px;
}

.radio {
  display: none;
}

.radio_text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
  vertical-align: middle;

}

.radio_label {
  margin-right: 15px;
}

.radio:checked ~ .radio_text::before {
  background-image: url("../svg/form-circle.svg");
}

.text_popub {
  text-align: left;
  margin-top: 15px;
  display: block;
}

.textarea_popub {
  width: 100%;
  min-height: 150px;
}



